.brand-1{
  display: flex;
  flex-direction: column;
  color: black;
  width:110px ;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.brand-1 p{
  color: black;
}
.brand-1 p:last-child{
  color: rgba(0, 0, 0, 0.467);
}
.brand-1 img{
  transition: .3s;
}
.brand-1 img:hover{
  scale: 1.1;
}
.brand-1 img{
  width:150px;
  height: 80px;
  
}
.bg-class-sliders{
  margin-block: 7rem;
  background-color: #f7f9f9;
  margin: auto !important;
  width: 100% !important;
  display: flex;
  justify-content: center;


}


/* النمط الأساسي للسلايدر */
.bg-class-sliders {
  width: 100%;
  display: flex;
  justify-content: center;  
  position: relative; 
  height: 500px;
  text-align: center;
  h2{
    color: #f05c07;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;width: 100%;
    position: absolute;
    margin-top: 50px;
  }
}

.brand-1 {
  text-align: center;
  padding: 10px;
}

.brand-1 img {
  width: 100%;
  height: auto;
  object-fit: contain !important;
  width: 150px;
}

.bg-class-sliders .swiper{
  width: 80%;
}
.loding-class{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg-class-sliders .swiper-button-prev,.bg-class-sliders .swiper-rtl .swiper-button-next,.bg-class-sliders .swiper-button-next,.bg-class-sliders .swiper-rtl .swiper-button-prev{
  display: none !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  font-size: xx-large !important;
}

.slider-nav {
  position: absolute;
  bottom: 20px; /* المسافة بين الأزرار وأسفل السلايدر */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 20px; /* مسافة بين الأزرار */
  cursor: pointer !important;

}

.prev-slide, .next-slide {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 80px;
  cursor: pointer !important;

}

.btn-next-black ,.btn-prev-black{
  width: 100%;
  z-index: 10;
  transition: all .2s ease-in;
  stroke: currentColor;
  cursor: pointer !important;
}

/* استايلات الشاشات الصغيرة */
@media (max-width: 1200px) {
  .bg-class-sliders .swiper-slide{
    flex: 0 0 20%; /* تعديل عدد السلايدات المعروضة */
  }
}

@media (max-width: 992px) {
  .bg-class-sliders .swiper-slide {
    flex: 0 0 25%; /* تعديل عدد السلايدات المعروضة */
  }
}

@media (max-width: 768px) {
  .bg-class-sliders .swiper-slide {
    flex: 0 0 33.33%; /* تعديل عدد السلايدات المعروضة */
  }
}

@media (max-width: 576px) {
.bg-class-sliders   .swiper-slide {
    flex: 0 0 35%; /* تعديل عدد السلايدات المعروضة */
  }
}
