body{
  direction: rtl;
}
.svgicon {
  width: 25px;
  height: 20px;
  text-align: center;
  margin: auto;
}
svg use:hover{
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;
  transform: scale(1.05);
  z-index: 1;
}
img{
  height: 100%;
  object-fit: contain;
}